<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light">
  <div >
  <% if logged_in? && current_user.admin? %>
  <ul class="nav justify-content-end">
    <li class="nav-item p-1">
      <a class="nav-link active" href="#">
        <%= link_to t("application.admin_users_index"), admin_users_path, id: "users-index" %>
      </a>
    </li>  
    <li class="nav-item p-1">
      <a class="nav-link" href="#">
        <%= link_to t("application.admin_new_user"), new_admin_user_path, id: "add-user" %>
      </a>
    </li>  
    <li class="nav-item p-1">
      <a class="nav-link" href="#">
        <%= link_to t("application.tasks_index"), tasks_path %>
      </a>
    </li>
    <li class="nav-item p-1">
      <a class="nav-link" href="#">
        <%= link_to t("application.new_task"), new_task_path %>
      </a>
    </li>
    <li class="nav-item p-1">
      <a class="nav-link" href="#">
        <%= link_to t("application.labels_index"), labels_path %>
      </a>
    </li>
    <li class="nav-item p-1">
      <a class="nav-link" href="#">
        <%= link_to t("application.new_label"), new_label_path %>
      </a>
    </li>
    <li class="nav-item p-1">
      <a class="nav-link" href="#">
        <%= link_to t("application.user_show"), user_path(current_user.id), id: "my-account" %>
      </a>
    </li>
    <li class="nav-item p-1">
      <a class="nav-link" href="#">
        <%= link_to t("application.logout"), session_path(current_user.id), method: :delete, id: "sign-out" %>
      </a>
    </li>
  </ul>
  <% elsif logged_in? %>
  <ul class="nav justify-content-end">
    <li class="nav-item active p-1">
      <a class="nav-link" href="#">
        <%= link_to t("application.tasks_index"), tasks_path, id: "tasks-index" %>
      </a>
    </li>
    <li class="nav-item p-1">
      <a class="nav-link" href="#">
        <%= link_to t("application.new_task"), new_task_path, id: "new-task" %>
      </a>
    </li>
    <li class="nav-item p-1">
      <a class="nav-link" href="#">
        <%= link_to t("application.labels_index"), labels_path %>
      </a>
    </li>
    <li class="nav-item p-1">
      <a class="nav-link" href="#">
        <%= link_to t("application.new_label"), new_label_path %>
      </a>
    </li>
    <li class="nav-item p-1">
      <a class="nav-link" href="#">
        <%= link_to t("application.user_show"), user_path(current_user.id), id: "my-account" %>
      </a>
    </li>
    <li class="nav-item p-1">
      <a class="nav-link" href="#">
        <%= link_to t("application.logout"), session_path(current_user.id), method: :delete, id: "sign-out" %>
      </a>
    </li>
  </ul>
  <% else %>
  <ul class="nav justify-content-end">
    <li class="nav-item active">
      <a class="nav-link" href="#">
        <%= link_to t("application.new_user"), new_user_path, id:"sign-up" %>
      </a>
    </li>
    <li class="nav-item p-1">
      <a class="nav-link" href="#">
        <%= link_to t("application.new_session"), new_session_path, id:"sign-in" %>
      </a>
    </li>
  </ul>
  <% end %>

    <% flash.each do |key, value| %><%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <%= yield %>
  </body>
</html>
